/* Color Theme Swatches in Hex */
.Moda-1-hex { color: #F2CEAE; }
.Moda-3-hex { color: #D97D5B; }
.Moda-4-hex { color: #8C3E37; }
html {background:#8C3E37;color: #F2CEAE;}
.destaque{color: #D97D5B;}

